
<h1>
    HelLOooOo! This is edit page
</h1>
<article class="row col-lg-12">
    <p>
        Edit Pages <br />
        @Html.ActionLink("Start", "EditStart", "OwnerPage")<br />
        @Html.ActionLink("About", "EditAbout", "OwnerPage")<br />
        @Html.ActionLink("Expertise", "EditExpertise", "OwnerPage")<br />
        @Html.ActionLink("Career", "EditCareer", "OwnerPage")<br />
        @Html.ActionLink("OurWork", "EditOurwork", "OwnerPage")<br />
        @Html.ActionLink("Contact", "EditContact", "OwnerPage")<br />
    </p>
</article>
<article>
    <p>
        Make Jobb Offer<br />
        @Html.ActionLink(" Jobb Offerse", "EditJobbOFfferse", "OwnerPage")<br />
    </p>
</article>
<article>
    <p>
        Deparments edit <br />
        @Html.ActionLink("Education ", "EditEducation", "OwnerPage")<br />
        @Html.ActionLink("Software", "EditSoftware", "OwnerPage")<br />
        @Html.ActionLink("EnviormentQuality", "EditEnviormentQuality", "OwnerPage")<br />
        @Html.ActionLink("Hybrid&EletricCars", "EditEletricCars", "OwnerPage")<br />
        @Html.ActionLink("Mekanik", "EditMekanik", "OwnerPage")<br />
        @Html.ActionLink("Sound And Enviorment", "EditSoundAndEnviorment", "OwnerPage")<br />


    </p>
</article>
<article>
    <p>
        Create New Acoount<br />
        @Html.ActionLink("Manage Accounts", "ManageAccounts", "OwnerPage")<br />
    </p>

</article>
<article>
    <p>
        Manage Contactsbr <br />
        @Html.ActionLink("Manage Contacts", "ManageContacts", "OwnerPage")<br />
    </p>

</article>