@model IEnumerable<Webpage.Models.Contact>

@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr>
            <td>File:</td>
            <td><input type="file" name="File" id="File" /></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" name="Name" id="Name" /></td>
        </tr>
        <tr>
            <td>Posistion</td>
            <td><input type="text" name="Posistion" id="Name" /></td>
        </tr>
        <tr>
            <td>Phone</td>
            <td><input type="text" name="Phone" id="Name" /></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" name="Email" id="Name" /></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" name="submit" value="Upload" /></td>
        </tr>
    </table>
}
@using (Html.BeginForm())
{
    <section class="row">
        @foreach (var item in Model)
        {
            <article class="row col-md-6">
                @if (item.ImagePath != null || item.ImagePath == "")
                {

                    string temp = "~/images/Contact/" + item.ImagePath;
                    <img src="@Url.Content(temp)" alt="Alternate Text" />
                }
                <p>@item.Name</p>
                <p>@item.Posistion</p>
                <p>@item.Phone</p>
                <p>@item.Email</p>

                @Html.ActionLink("Delete", "Delete", new { iId = item.ContactId })
                @*<button onclick=""> Edit</button>*@
                
            </article>
        }
    </section>
 
}
@Ajax.ActionLink("Open popup", "Edit", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "result", InsertionMode = InsertionMode.Replace, OnSuccess = "openPopup" })<br />

<div id="result" style="display:none;"></div>

<script type="text/javascript">
$(document).ready(function() {
    $("#result").dialog({
        autoOpen: false,
        title: 'Title',
        width: 500,
        height: 'auto',
        modal: true
    });
});
function openPopup() {
    $("#result").dialog("open");
}
</script>
