@model IEnumerable<Webpage.Models.Contact>

@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr>
            <td>File:</td>
            <td><input type="file" name="File" id="File" /></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" name="Name" id="Name" /></td>
        </tr>
        <tr>
            <td>Posistion</td>
            <td><input type="text" name="Posistion" id="Name" /></td>
        </tr>
        <tr>
            <td>Phone</td>
            <td><input type="text" name="Phone" id="Name" /></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" name="Email" id="Name" /></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" name="submit" value="Upload" /></td>
        </tr>
    </table>
}

<section class="row">
    @foreach (var item in Model)
    {
        <article class="row col-md-6">
            @if (item.ImagePath != null || item.ImagePath == "")
                {

                    string temp = "~/images/Contact/" + item.ImagePath;
                <img src="@Url.Content(temp)" alt="Alternate Text" />

            }
            <p>@item.Name</p>
            <p>@item.Posistion</p>
            <p>@item.Phone</p>
            <p>@item.Email</p>

            @Html.ActionLink("Delete", "Delete", new { iId = item.ContactId })
            <button onclick="PopUp('@item.Name','@item.Posistion','@item.Phone','@item.Email')"> Edit</button>
            <div id="myDiv" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    @using (Html.BeginForm("Edit", "Contact"))
                    { 
                        <span class="close">&times;</span>
                        <p id="StartEdit"></p><br />
                        <input type="text" value="" id="sName" /><br />
                        <input type="text" value="" id="Posistion" /><br />
                        <input type="text" value="" id="Phone" /><br />
                        <input type="text" value="" id="Email" /><br />
                        <button onclick="Close()">Close</button>
                        <input type="submit" onclick="Save()" value="Save" />
                    }
                 
                </div>
               
            </div>
            <button id="Add" onclick="Save()">Save</button>
        </article>
       
    }
</section>

<script type="text/javascript">
    function PopUp(name, posistion, phone, email) {
        var modal = document.getElementById('myDiv');
        modal.style.display = "block";

        document.getElementById("StartEdit").innerHTML = "Edit " + name;
        document.getElementById("sName").value = name;
        document.getElementById("Posistion").value = posistion;
        document.getElementById("Phone").value = phone;
        document.getElementById("Email").value = email;
    }
    function Close() {
        var modal = document.getElementById('myDiv');
        modal.style.display = "none";
    }
    function Save() {
        
        var sName = document.getElementById("sName").value
        var sPosistion = document.getElementById("Posistion").value
        var sPhone = document.getElementById("Phone").value
        var sEmail = document.getElementById("Email").value

         @*@Url.Action("Edit", "Contact");*@
        var model = document.getElementById('myDiv');
        model.style.display = "none"
    }

</script>

