
@{
    ViewBag.Title = "Expertise";
}

<section class="col-md-12 Expertise-Section container">
    <article class="row -">
        <article class="col-md-7"  style="padding-top:20px;padding-bottom:5px">
            <img class="img-responsive" src="~/images/HRMParts/hrm_toppbild_fredrik_hybrid_sv.jpg" />
        </article>
        <articl class="col-md-5  paddin-bot-5">
            <h3>@*Hybid & Fordon*@ @ViewBag.HeaderOne</h3>
            <p style="font-size:20px">@ViewBag.SubOne
                @*Elmaskiner har en verkningsgrad på 85-95% över större delen av effektregistret vilket är avsevärt högre än konventionella förbränningsmotorer som i bästa fall når 30-35% i verkningsgrad. Ytterligare en fördel med elmotorer är att de har fullt moment vid mycket låga varvtal vilket gör att det i de flesta fall inte krävs någon växellåda mellan elmotor och drivhjul.*@
                @Html.ActionLink("Mera info", "HybridElec", "Departement")
            </p>
        </articl>
    </article>
    <article class="row Expertise-Background">
        <article class="col-md-7 pull-right" style="padding-top:20px;padding-bottom:5px">
            <img class="img-responsive" src="~/images/HRMParts/web-top-mekanik.jpg" />

        </article>
        <article class="col-md-5 pull-left padding-top-5 paddin-bot-5 ">
            <h3>@*Mekanik*@@ViewBag.HeaderTwo</h3>

            <p class="" style="font-size:20px">@ViewBag.SubTwo
                @*Mekanikutveckling på HRM Engineering AB är en verksamhet som omfattar ett komplett utvecklingsteam för alla faser,
                från idégenerering, konceptframtagning, konstruktion och hela vägen fram till produktion av färdigutvecklad produkt.*@
                @Html.ActionLink("Mera info", "Mekanik", "Departement")
            </p>

        </article>
    </article>
    <article class="row">
        <article class="col-md-7" style="padding-top:20px;padding-bottom:5px">
            <img class="img-responsive" src="~/images/HRMParts/_hrm-toppbild-cecilia-ny.jpg" />
        </article>
        <articl class="col-md-5">
            <h3>@*Quality engineering*@@ViewBag.HeaderThree </h3>

            <p style="font-size:20px">@ViewBag.SubThree
                @*På HRM arbetar vi med hela kvalitetsbegreppet i alla faser; projekt, löpande produktion och eftermarknad.
                Vi har stor industriell bredd och erfarenhet från alla typer av förbättringsarbete, inte minst från fordonsindustrin.
                Det vi erbjuder våra uppdragsgivare är en effektiv kombination av bredd, erfarenhet och spetskompetens.*@

                @Html.ActionLink("Mera info", "EnviormentQuality", "Departement")
            </p>

        </articl>
    </article>
    <article class="row Expertise-Background">
        <article class="col-md-7 pull-right"  style="padding-top:20px;padding-bottom:5px">
            <img class="img-responsive" src="~/images/HRMParts/hrm-topp-ljud-vibr.jpg" />
        </article>
        <article class="col-md-5 pull-left padding-top-5 paddin-bot-5">
            <h3>@*Ljud och Vibration*@@ViewBag.HeaderFour</h3>
            <p style="font-size:20px">@ViewBag.SubFour
                @*Müller HRM Engineering AB är ett specialistföretag inom ljud och vibrationer.
                Vi erbjuder rådgivning, testning, projektering samt försäljning av avancerade mätsystem.
                Vi dimensionerar åtgärder för att minska störande influenser, såsom buller eller vibrationer från vägar,
                flygplatser, järnvägar och industrianläggningar. Vi hjälper till att utforma tysta och vibrationsfria anläggningar,
                produkter och fordon.*@
                @Html.ActionLink("Mera info", "SoundAndEnviorment", "Departement")
            </p>

        </article>
    </article>
    <article class="row ">
        <article class="col-md-7" style="padding-top:20px;padding-bottom:5px">
            <img class="img-responsive" src="~/images/HRMParts/hrm_toppbild_anders_magnusson_svensk.jpg" />
        </article>
        <articl class="col-md-5 padding-top-5 paddin-bot-5">
            <h3>@*Elektronik & Mjukvara*@ @ViewBag.HeaderFive</h3>

            <p style="font-size:20px">@ViewBag.SubFive
                @*Elektronik & mjukvara är i dag en förutsättning för att mycket i vår omgivning skall fungera överhuvudtaget. Inom t.ex. fordonsindustrin har utvecklingen gått i rasande fart och en modern bil innehåller mängder med avancerade funktioner och komplexa system.*@
                @Html.ActionLink("Mera info", "ElekMjuk", "Departement")
            </p>

        </articl>
    </article>

    <article class="row Expertise-Background">
        <article class="col-md-7 pull-right" style="padding-top:20px;padding-bottom:10px">
            <img class="img-responsive" src="~/images/HRMParts/hrm-utbildning-topp.jpg" />
        </article>

        <article class="col-md-5 pull-left padding-top-5 paddin-bot-5">
            <h3>@*Utbilding*@@ViewBag.HeaderSix</h3>
            <p style="font-size:20px">@ViewBag.SubSix
                @*HRM har långa kundrelationer och våra nyckelpersoner har lång erfarenhet. Detta har gjort att vi ofta anlitas som utbildare inom våra specialområden.*@
                @Html.ActionLink("Mera info", "Education", "Departement")
            </p>

        </article>
    </article>
</section>