@{
    ViewBag.Title = "Home Page";

}

<div class="parallax">
    <div id="group1" class="parallax__group">
        <div class="parallax__layer parallax__layer--base">

            <img class="image-background" src="~/images/photo-1473873446975-123c5143248b.jpg" />
            <div class="title">
                @*<h1>HRM Engineering</h1>
                    <p>Teknik & Miljö i Samverkan</p>*@
                <h1>@ViewBag.HeaderOne</h1>
                <p>@ViewBag.HeaderOneSub</p>
            </div>
        </div>
    </div>
    <div class="parallax__group">
        <div class="parallax__layer parallax__layer--base">
            <div>
                <p style="color:beige" class="text-area">
                   "@ViewBag.HeaderTwo"
            
                </p>
            </div>
        </div>
        <div class="parallax__layer parallax__layer--back">
            <img class="image-background" src="~/images/photo-1439123068749-20f4035bd7ed.jpg" />

        </div>
    </div>
    <div id="group1" class="parallax__group">
        <div class="parallax__layer parallax__layer--base">
            <div class="title">
                <p>@ViewBag.FindOurExpertise</p>
                <p>
                   <br />
                    @Html.ActionLink(Webpage.Resources.HomeText.Soundandvibration, "SoundAndEnviorment", "Departement", null, new { @class = "alink" })&nbsp;
                    @Html.ActionLink(Webpage.Resources.HomeText.Mechanics, "Mekanik", "Departement", null, new { @class = "alink" })    &nbsp;
                    @Html.ActionLink(Webpage.Resources.HomeText.Electronicssoftwaredevelopment, "ElekMjuk", "Departement", null, new { @class = "alink" })
                    <br />
                    @Html.ActionLink(Webpage.Resources.HomeText.Hybridelectricvehicles, "HybridElec", "Departement", null, new { @class = "alink" }) &nbsp;
                    @Html.ActionLink(Webpage.Resources.HomeText.EnvironmentQuality, "EnviormentQuality", "Departement", null, new { @class = "alink" })&nbsp;
                    @Html.ActionLink(Webpage.Resources.HomeText.Education, "Education", "Departement", null, new { @class = "alink" })
                </p>
            </div>
        </div>
    </div>
    <div id="group2" class="parallax__group">
        <div class="parallax__layer parallax__layer--base">
            <div class="title ">
                <h1>@ViewBag.HeaderThree</h1>
                <p>@ViewBag.HeaderThreeSub  </p>
            </div>
        </div>
        <div class="parallax__layer parallax__layer--back">
            <img class="image-background" src="~/images/photo-1422938522079-7f21c8b014f6.jpg" />
        </div>
    </div>
    <div id="group1" class="parallax__group">
        <div class="parallax__layer parallax__layer--base">

            <div class="title">
                <p>@ViewBag.FindOurExpertise</p>
                <p>
                    <br />
                    @Html.ActionLink(Webpage.Resources.HomeText.Soundandvibration, "SoundAndEnviorment", "Departement", null, new { @class = "alink" })&nbsp;
                    @Html.ActionLink(Webpage.Resources.HomeText.Mechanics, "Mekanik", "Departement", null, new { @class = "alink" })    &nbsp;
                    @Html.ActionLink(Webpage.Resources.HomeText.Electronicssoftwaredevelopment, "ElekMjuk", "Departement", null, new { @class = "alink" })
                    <br />
                    @Html.ActionLink(Webpage.Resources.HomeText.Hybridelectricvehicles, "HybridElec", "Departement", null, new { @class = "alink" }) &nbsp;
                    @Html.ActionLink(Webpage.Resources.HomeText.EnvironmentQuality, "EnviormentQuality", "Departement", null, new { @class = "alink" })&nbsp;
                    @Html.ActionLink(Webpage.Resources.HomeText.Education, "Education", "Departement", null, new { @class = "alink" })
                </p>
            </div>
        </div>
        <a href="~/Views/Home/Contact.cshtml">~/Views/Home/Contact.cshtml</a>
    </div>
    <div id="group4" class="parallax__group">
        <div class="parallax__layer parallax__layer--back">
            <img class="image-background" src="~/images/photo-1474065581914-e24d783b0c55.jpg" />
        </div>
        <div class="parallax__layer parallax__layer--base">
            <div class="title">
                <h1>@ViewBag.HeaderFour</h1>
                <p>@ViewBag.HeaderFourSub</p>
            </div>
        </div>
    </div>
    <div id="group1" class="parallax__group">
        <div class="parallax__layer parallax__layer--base">

            <p class="title">@ViewBag.HeaderFive</p>
        </div>
    </div>
</div>
